*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*body*/
body{
    background-color: #E6EAEB;
}

/*-----Knap design på siden-----*/
.btn{
    display: block;
    width: 130px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2.5px;
    color: #2e2a27;
    border: solid #dd1538;
    box-shadow: 0px 8px 15px #0000001a;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover{
    background-color: #dd1538;
    box-shadow: 0px 15px 20px #f190a0;
    color: white;
    transform: translateY(-3px);
}
/*SLUT*/

/*Header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.5rem;
    background-image: url(./billeder/cover_mobil.jpg);
    background-repeat: no-repeat;
    background-size: 130% auto;
    background-position-x: 40%;
    min-height: 28rem;
}

/*Cover*/
.cover-image {
    display: none;
}

.cover-image img {
    width: 100%;
    height: auto;
}

/*Logo*/
.logo {
    width: 30%;
    height: auto;
}

/*Navigationsmenu*/
.wrapper{
    width: 100%;
}

.wrapper .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: none;
    height: 60px;
}

/*Burger-menu*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #dd1538;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    color: #E6EAEB;
    display: block;
    transition: 0.3s;
  }

.menu a:hover {
    color: #404b96;

}
  
.menu a:hover, .overlay a:focus {
    color: #404b96;
}
  
.menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 6em;
}
/*Burger-menu slut*/

/*burger-menu's streger*/
span{
    font-size:40px;
    cursor:pointer;
    color: #E6EAEB;
}
/*Slut*/

/*navigations menu til desktop*/
.nav-desktop{
    display: none;
}

/*Banner tekst*/
.banner-text {
    display: flex;
    justify-content: center;
}

.banner-text h1 {
    color: #E6EAEB;
    text-align: center;
    font-size: 6em;
    position: relative;
    top: -13rem;
    border-style: solid none solid none;
    text-shadow: 0px 3px #273da175;
}
/*Banner tekst slut*/
/*Header - Slut*/

/*----Footer-----*/
footer{
    background-color: #46494d;
    color: #e6eaeb;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h1{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer p{
    font-size: 10px;
    font-weight: lighter;
}

.footerdesktop1 a{
    text-decoration: none;
    color: white;
}

.footerdesktop2{
    text-align: center;
}

.footerdesktop3{
    text-align: end;
}
/*SLUT - Footer*/


/*__________________________Forsiden___________________________*/

.top-container-forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "picture text";
}

.top-box-forside {
    grid-area: picture;
}

.column2-forside {
    grid-area: text;
    margin: 30px;
}

.overskrift-1-forside {
    margin-bottom: 20px;
}

.brødtekst-1-forside {
    margin-bottom: 20px;
}

.top-container2-forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text picture";
}
.top-box2-forside {
grid-area: picture;
}

.btn2-forside {
    grid-area: text;
}

.btn-forside {
        display: block;
        width: 130px;
        border: none;
        font-size: 12px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        letter-spacing: 2.5px;
        color: #2e2a27;
        border: solid #dd1538;
        box-shadow: 0px 8px 15px #0000001a;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .btn-forside:hover{
        background-color: #dd1538;
        box-shadow: 0px 15px 20px #f190a0;
        color: white;
        transform: translateY(-3px);
    }

/*----Image Slider-----*/

.slider{
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: auto;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 100%
  }
  
  /*css for manual slide navigation*/

.navigation-manual{
    display: none;
    position: absolute;
    width: 375px;
    margin-top: 183px;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #46494d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #46494d;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    padding-top: 24%;
    width: 100%;
    justify-content: center;
    margin-top: 400px;
  }
  
  .navigation-auto div{
    border: 2px solid #46494d;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #46494d;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #46494d;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #46494d;
  }
      

/*__________________________Kampagne-siden___________________________*/
/*-----Grid opsætning-----*/
.container-campaign{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "filter filter filter filter filter filter"
    "count count count count count count"
    "gooddeals gooddeals gooddeals gooddeals gooddeals gooddeals"
    "hybcar hybcar hybcar hybcar hybcar hybcar"
    "mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb"
    "best best best best best best"
    "xmas xmas xmas xmas xmas xmas"
    ;}
/*Grid opsætning - Slut*/


/*----Den øverste sektion med SUV, Hatchback og Stationcar----*/
.campaign-filter{
    grid-area: filter;
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.campaign-filter h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 40px;
    text-transform: uppercase;
}

/*Filter knapperne*/
.tab {
    overflow: hidden;
    background-color: #efefef;
    display: flex;
    justify-content: space-evenly;
}

.tab img{
    width: 100%;
    height: auto;
}
  
.tab button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
  
.tab button:hover {
    border: solid 10px #dd1538;
}
  
.tab button.active {
    border: solid 8px #404b96;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/*Tekst til første tab*/
#SUV{
    margin-top: 5px;
}

#SUV h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#SUV p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}

/*Tekst til anden tab*/
#Hatchback{
    margin-top: 5px;
}

#Hatchback h3{
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#Hatchback p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}

/*Tekst til tredje tab*/
#Stationcar{
    margin-top: 5px;
}

#Stationcar h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#Stationcar p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}
/*SLUT - Filter*/

/*-----Antal kampagner-tekst-----*/
.count{
    grid-area: count;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.count h1{
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2px;
}
/*SLUT - Antal kampagner-tekst*/

/*Style til sektioners h3, h4 og p*/
.sektion-heading{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

/*SECTION - kampagnen om gode tilbud*/
.good-deals-camp{
    grid-area: gooddeals;
    margin: 0px 20px 40px 20px;
}

.good-deals-camp h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.good-deals-camp p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.good-deals-camp img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om Hybrid Stationcar Light*/
.hybrid-stationcar{
    grid-area: hybcar;
    margin: 0px 20px 40px 20px;
}

.hybrid-stationcar h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.hybrid-stationcar h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.hybrid-stationcar p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.hybrid-stationcar img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om Mild Hybrid SUV*/
.mild-hybrid{
    grid-area: mildhyb;
    margin: 0px 20px 40px 20px;
}

.mild-hybrid h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.mild-hybrid h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.mild-hybrid p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.mild-hybrid img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om bedste garanti*/
.best-guarantee{
    grid-area: best;
    margin: 0px 20px 40px 20px;
}

.best-guarantee h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.best-guarantee h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.best-guarantee p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.best-guarantee img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om jule bil*/
.christmas-car{
    grid-area: xmas;
    margin: 0px 20px 40px 20px;
}

.christmas-car h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.christmas-car h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.christmas-car p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.christmas-car img{
    width: 100%;
    height: auto;
}
/*__________________________SLUT MED KAMPAGNE CSS____________________________*/

/*__________________________Information om bilerne-siden_____________________*/
/* kassen i top med knappen */
.section-buy-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Name Button"
    "Price Button"
    ;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5%;

}
.section-buy-information h2{
    grid-area: Name;
    margin-left: 10px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.section-buy-information p{
    grid-area: Price;
    margin-left: 10px;
}
.section-buy-information button{
   
    grid-area: Button;
}

/* model navn */
.section-title-information{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* billede */
.section-image1-information img{
  width: 100%;
}

.section-image2-information img{
  width: 0px;
}

/* sektion med highlight features */
.section-info-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title"
    "text text"
    "seats1 km1"
    "seats2 km2"
    "co21 AWD1"
    "co22 AWD2"
    ;
    background-color: #FFFFFF;
}


.section-info-information h1{
    text-align: center;
    color: #404B96;
    
}

.headline-information{
    grid-area: title;
    padding-top: 5%;
    padding-bottom: 2%;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

.section-info-information p{
    text-align: center;
}

.underline-information{
    grid-area: text;
    font-size: 15px;
    padding-bottom: 5%;
}

.seats1-information{
    grid-area: seats1;
}

.seats2-information{
    grid-area: seats2;
      padding-bottom: 15%;
}

.km1-information{
    grid-area: km1;
}

.km2-information{
    grid-area: km2;
      padding-bottom: 15%;
}

.co21-information{
    grid-area: co21;
}

.co22-information{
    grid-area: co22;
    padding-bottom: 15%;
}

.AWD1-information{
    grid-area: AWD1;
}

.AWD2-information{
    grid-area: AWD2;
    padding-bottom: 15%;
}

/* galleriet */
.section-gallery-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img1 img2"
    "img3 img3"
   
    ;
    padding-top: 5%;
}

.gallery1-information{
    grid-area: img1;
    width: auto;
    margin-left: 20%;
    margin-bottom: 15%;
    justify-self: left;
}

.gallery2-information{
    grid-area: img2;
    width: auto;
    margin-right: 20%;
    margin-bottom: 15%;
    justify-self: right;
}

.gallery3-information{
    grid-area: img3;
    width: auto;
    margin-bottom: 10%; 
    justify-self: center;
}

.gallery4-information{
    width: 0px;
}

.gallery5-information{
    width: 0px;
}

.gallery6-information{
    width: 0px;
}

/* sektion med tekst */
.section-text-information{
    background-color: #FFFFFF;
    padding: 10%;
    font-weight: lighter;
}

.section-text-information h1{
    text-align: center;
    color: #404B96;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.section-text-information p{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 15px;
    text-align: center;
}

/* knappen i bunden af siden */
.section-button-information button{
   
  display: block;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* __________________________SLUT MED INFORMATION___________________________ */

/*__________________________Book en prøvetur-siden___________________________*/


/*__________________________Kontakt-siden____________________________________*/
.textcontainer p{
    margin-top: 50px;
    margin-left: 200px;
    padding-right: 200px;
    letter-spacing: 1px;
    line-height: 30px;
}


.contact-in
{
	width: 70%;
	height: auto;
    margin-left: 0px;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	border-radius: 0px;
	background: #E6EAEB;
    box-shadow: 0px 0px 0px 0px #666;
    margin-left: 10%;
}

.contact-map
{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe
{
	width: 100%;
	height: 100%;
}
.contact-form
{
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 35px;
	text-align: center;
}
.contact-form h1
{
	margin-bottom: 10px;
}

.contact-form-txt
{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder
{
	color: #aaa;
}
.contact-form-textarea
{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder
{
	color: #aaa;
}

.contact-form-btn
{
    display: block;
    width: 130px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2.5px;
    color: #2e2a27;
    border: solid #dd1538;
    box-shadow: 0px 8px 15px #0000001a;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-btn:hover{
    background-color: #dd1538;
    box-shadow: 0px 15px 20px #f190a0;
    color: white;
    transform: translateY(-3px);
}

/*__________________________Medie Queries min. 767px___tablet__________________________*/
@media screen and (min-width:767px){
    /*____________________HEADER____________________*/
    header {
        background-image: url(./billeder/cover_tablet.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-x: 40%;
        min-height: 24rem;
    }

    /*Logo*/
    .wrapper .logo img {
        width: 25%;
        height: auto;
    }

    /*burger-menu's streger*/
    span{
        font-size:45px;
    }
    /*Slut*/

    /*Banner tekst*/
    .banner-text h1 {
        font-size: 10em;
        top: -8rem;
        }
    /*Banner tekst slut*/

    /*____________________HEADER SLUT____________________*/

    /*____________________FOOTER_________________________*/
        footer h1{
            font-size: 25px;
        }

        footer p{
            font-size: 18px;
        }
    /*____________________FOOTER SLUT_________________________*/



    /*____________________KAMPAGNESIDE____________________*/
    /*-----Grid opsætning-----*/
    .container-campaign{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "filter filter filter filter filter filter filter filter filter filter filter filter"
        "count count count count count count count count count count count count"
        "gooddeals gooddeals gooddeals gooddeals gooddeals gooddeals hybcar hybcar hybcar hybcar hybcar hybcar"
        "mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb"
        "best best best best best best xmas xmas xmas xmas xmas xmas"
        ;}
    /*Grid opsætning - Slut*/

    /*Sektion med filter for modellerne*/
    .campaign-filter h1{
        font-size: 40px;
    }

    .campaign-filter .tab{
        justify-content: space-evenly;
    }

    /*billederne i filter sektionen*/
    .campaign-filter .SUV{
        width: 150%;
        height: auto;
    }

    .campaign-filter .HB{
        width: 150%;
        height: auto;
    }

    .campaign-filter .SC{
        width: 150%;
        height: auto;
    }

    /*Sektion med antal kampagner*/
    .count h1{
        font-size: 33px;
        margin: 10px 0 10px 0;
    }

    /*Sectionerne overskrift*/
    .good-deals-camp h3{
        font-size: 23px;
    }

    .hybrid-stationcar h3{
        font-size: 23px;
    }

    .mild-hybrid h3{
        font-size: 30px;
    }

    .best-guarantee h3{
        font-size: 23px;
    }

    .christmas-car h3{
        font-size: 23px;
    }

    /*sektionernes h4*/
    .hybrid-stationcar h4{
        font-size: 22px;
    }

    .mild-hybrid h4{
        font-size: 28px;
    }

    .best-guarantee h4{
        font-size: 22px;
    }

    .christmas-car h4{
        font-size: 22px;
    }

    /*sektionernes tekst*/
    .good-deals-camp p{
        font-size: 18px;
        margin-bottom: 75px;
    }

    .hybrid-stationcar p{
        font-size: 18px;
    }

    .mild-hybrid p{
        font-size: 22px;
    }

    .best-guarantee p{
        font-size: 18px;
    }

    .christmas-car p{
        font-size: 18px;
        margin-bottom: 87px;
    }

    /*knapper*/
    .btn{
        width: 150px;
        font-size: 16px;
        padding: 20px 5px;
    }
    /*____________________KAMPAGNESIDE SLUT____________________*/
}

/*__________________________Medie Queries min. 1024px___desktop bruger__________________________*/
@media screen and (min-width:1024px){
    /*____________________HEADER____________________*/
    header {
        background-image: url(./billeder/cover_desktop.jpg);
        min-height: 24rem;
    }

    /*Logo*/
    .logo {
        width: 20%;
        height: auto;
    }

    .nav-right{
        display: none;
    }

    /*Banner tekst*/
    .banner-text h1 {
        font-size: 15em;
        top: -7rem;
        }
    /*Banner tekst slut*/

    /*navigatonmenu til desktop*/
    .nav-desktop{
        display: flex;
        justify-content: space-between;
    }

    .nav-desktop a{
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #E6EAEB;
        padding-left: 23px;
        text-decoration: none;
        cursor: pointer;
    }

    /*____________________HEADER SLUT____________________*/

    /*____________________FOOTER_________________________*/
    footer h1{
        font-size: 31px;
    }

    footer p{
        font-size: 23px;
    }
    /*____________________FOOTER SLUT_________________________*/



    /*____________________KAMPAGNESIDE____________________*/
    /*Sektion med filter for modellerne*/
    .campaign-filter h1{
        font-size: 50px;
    }

    .campaign-filter .tab{
        justify-content: space-evenly;
    }

    .tab button:hover {
        border: solid 10px #dd1538;
        padding-right: 60px;
    }
      
    .tab button.active {
        border: solid 8px #404b96;
        padding-right: 60px;
    }

    /*billederne i filter sektionen*/
    .campaign-filter .SUV{
        width: 180%;
        height: auto;
    }

    .campaign-filter .HB{
        width: 180%;
        height: auto;
    }

    .campaign-filter .SC{
        width: 180%;
        height: auto;
    }

    /*Sektion med antal kampagner*/
    .count h1{
        font-size: 40px;
    }

    /*sektioner*/
    .mild-hybrid{
        margin: 30px auto 60px auto;
    }

    /*Sectionerne overskrift*/
    .good-deals-camp h3{
        font-size: 28px;
    }

    .hybrid-stationcar h3{
        font-size: 28px;
    }

    .mild-hybrid h3{
        font-size: 35px;
    }

    .best-guarantee h3{
        font-size: 28px;
    }

    .christmas-car h3{
        font-size: 28px;
    }

    /*sektionernes h4*/
    .hybrid-stationcar h4{
        font-size: 25px;
    }

    .mild-hybrid h4{
        font-size: 31px;
    }

    .best-guarantee h4{
        font-size: 25px;
    }

    .christmas-car h4{
        font-size: 25px;
    }

    /*sektionernes tekst*/
    .good-deals-camp p{
        font-size: 22px;
        margin-bottom: 0px;
        margin-bottom: 45px;
    }

    .hybrid-stationcar p{
        font-size: 22px;
    }

    .mild-hybrid p{
        font-size: 26px;
        margin-bottom: 30px;
    }

    .best-guarantee p{
        font-size: 22px;
    }

    .christmas-car p{
        font-size: 22px;
        margin-bottom: 55px;
    }

    /*knapper*/
    .btn{
        width: 170px;
        font-size: 19px;
        padding: 20px 5px;
    }

    /*billede i sektioner*/
    .mild-hybrid img{
        width: 70%;
        height: auto;  
        display: block; 
        margin-left: auto;
        margin-right: auto;     
    }

    /*____________________KAMPAGNESIDE SLUT____________________*/
    /*____________________informationsside____________________ */

/* kassen i top med knappen */
.section-buy-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Name Price Bank Button"
    ;
}
.section-buy-information h2{
    grid-area: Name;
    text-align: center;
    margin: auto;
    font-size: 40px;
}

.section-buy-information p{
    grid-area: Price;
    text-align: left;
    font-size: 25px;
    margin: auto;
}
.section-buy-information button{
    margin-left: 70px;

}



/* billede */
.section-image1-information img{
    width: 0px;
  }
  
  .section-image2-information img{
    width: 100%;
  }
   /* sektion med info */
   .section-info-information h1{
    font-size: 33px;
}



  .headline-information{
    grid-area: title;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    text-align: center;
}


.underline-information{
    grid-area: text;
    font-size: 25px;
    text-align: center;
    padding-bottom: 5%;
}

.seats1-information{
    grid-area: seats1;
    font-size:30px;
}

.seats2-information{
    grid-area: seats2;
      padding-bottom: 15%;
      font-size:20px;
}

.km1-information{
    grid-area: km1;
    font-size:30px;
}

.km2-information{
    grid-area: km2;
      padding-bottom: 15%;
      font-size:20px;
}

.co21-information{
    grid-area: co21;
    font-size:30px;
}

.co22-information{
    grid-area: co22;
    padding-bottom: 15%;
    font-size:20px;
}

.AWD1-information{
    grid-area: AWD1;
    font-size:30px;
}

.AWD2-information{
    grid-area: AWD2;
    padding-bottom: 15%;
    font-size:20px;
}

    
    /* galleriet */
.section-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img1 img2"
    "img3 img3"
   
    ;
    padding-top: 5%;
}

.gallery1-information{
    width: 0px;
  
}

.gallery2-information{
    width: 0px;
  
}

.gallery3-information{
    width: 0px;
   
}


.gallery4-information{
    grid-area: img1;
    width: auto;
    margin-left: 50%;
    margin-bottom: 10%;
}

.gallery5-information{
    grid-area: img2;
    width: auto;
    margin-right: 50%;
    margin-bottom: 10%;
    justify-self: right;
}

.gallery6-information{
    grid-area: img3;
    width: auto;
    margin-bottom: 5%;
    justify-self: center;
}


/* sektion med tekst */
.section-text-information{
    padding: 5%;
    font-weight: lighter;
}

.section-text-information h1{
    text-align: center;
   
}

.section-text-information p{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
}



}