@font-face {
    font-family: silverstone;
    src: url(./Silverstone-Sans.otf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header img {
  width: 35%;
  height: auto;
  margin-left: 10px;
}

.btn {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    background-color: #3fa043;
    text-align: center;
    border-radius: 100px;
    margin: 15px 20% 15px 20%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30%;  
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn2 {    
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #3fa043;
    text-align: center;
    border-radius: 100px;
    padding: 15px;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 2px;
    
}

.btn:hover {
    background-color: #80DB83;
}

.btn2:hover {
    background-color: #80DB83;
}

header {
    grid-area: header;
    background-color: #5cc560;
    display: flex;
    height: 70px;
}
 
header h1{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 40px;
    text-transform: uppercase;
    
}
/*Burger-menu*/
.menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #5cc560;
    overflow-x: hidden;
    transition: 0.5s;
}
  
.menu-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}
 
.menu a{
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}
 
.menu a:hover{
    background-color: #269c2c;
 
}
  
.menu a:hover, .overlay a:focus{
    color: black;
}
  
.menu .closebtn{
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 50px;
}
/*Burger-menu slut*/
 
/*burger-menu's streger*/
span {
    font-size:30px;
    cursor:pointer;
    color: white;
    position: absolute;
    right: 20px;
    margin-top: 15px;
 
}
/*Slut*/


.top-box {
    background-image: url(./Billeder/Billede_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
}

.top-box h2 {
    font-family: silverstone;
    font-weight: 400;
    color: white;
    letter-spacing: 4px;
    margin-left: 25px;
    margin-top: 20px;
    
}

.top-box-b {
    background-image: url(./Billeder/Billede_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4.5rem;
    margin-bottom: 20px;

}

.top-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-container{
    margin-bottom: 14px;
}

.logo {
    margin-top: 50px;
}

/*----Image Slider-----*/

.slider{
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: auto;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 100%
  }
  
  /*css for manual slide navigation*/

.navigation-manual{
    display: none;
    position: absolute;
    width: 375px;
    margin-top: 183px;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 375px;
    justify-content: center;
    margin-top: 183px;
  }
  
  .navigation-auto div{
    border: 2px solid #80DB83;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #80DB83;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #80DB83;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #80DB83;
  }
                             



/*----Footer-----*/
footer{
    grid-area: footer;
    background-color: #2a2f35;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}
 
footer h1{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
 
footer p{
    font-size: 10px;
    font-weight: lighter;
}
 
.footerdesktop1 a{
    text-decoration: none;
    color: white;
}
 
.footerdesktop2{
    text-align: center;
}
 
.footerdesktop3{
    text-align: end;
}
/*SLUT - Footer*/


@media only screen and (min-width: 812px) {
  
  header img {
  width: 20%;
  margin-left: 10px;
  }

  .navigation-auto{
    position: absolute;
    display: flex;
    width: 375px;
    justify-content: center;
    margin-top: 400px;
    margin-left: 217px;
  }

  .btn {
    margin-left: 40%;
}
  .btn2 {    
    margin-left: 26%;
    padding-left: 50px;
    padding-right: 50px;
}

.top-box p {
  margin-bottom: 30px;
}


}



