*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*body*/
body{
    background-color: #E6EAEB;
}

/*-----Knap design på siden-----*/
.btn{
    display: block;
    width: 130px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2.5px;
    color: #2e2a27;
    border: solid #dd1538;
    box-shadow: 0px 8px 15px #0000001a;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover{
    background-color: #dd1538;
    box-shadow: 0px 15px 20px #f190a0;
    color: white;
    transform: translateY(-3px);
}
/*SLUT*/

/*Header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.5rem;
    background-image: url(./billeder/cover_mobil.jpg);
    background-repeat: no-repeat;
    background-size: 130% auto;
    background-position-x: 40%;
    min-height: 28rem;
}

/*Cover*/
.cover-image {
    display: none;
}

.cover-image img {
    width: 100%;
    height: auto;
}

/*Logo*/
.wrapper .logo img {
    width: 45%;
    height: auto;
}

/*Navigationsmenu*/
.wrapper{
    width: 100%;
}

.wrapper .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: none;
    height: 60px;
}

/*Burger-menu*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #dd1538;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    color: #E6EAEB;
    display: block;
    transition: 0.3s;
  }

.menu a:hover {
    color: #404b96;

}
  
.menu a:hover, .overlay a:focus {
    color: #404b96;
}
  
.menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 6em;
}
/*Burger-menu slut*/

/*burger-menu's streger*/
span{
    font-size:40px;
    cursor:pointer;
    color: #E6EAEB;
}
/*Slut*/

/*Banner tekst*/
.banner-text {
    display: flex;
    justify-content: center;
}

.banner-text h1 {
    color: #E6EAEB;
    text-align: center;
    font-size: 6em;
    position: relative;
    top: -13rem;
    border-style: solid none solid none;
}
/*Banner tekst slut*/
/*Header - Slut*/

/*----Footer-----*/
footer{
    background-color: #46494d;
    color: #e6eaeb;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h1{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer p{
    font-size: 10px;
    font-weight: lighter;
}

.footerdesktop1 a{
    text-decoration: none;
    color: white;
}

.footerdesktop2{
    text-align: center;
}

.footerdesktop3{
    text-align: end;
}
/*SLUT - Footer*/


/*__________________________Forsiden___________________________*/


/*__________________________Kampagne-siden___________________________*/
/*-----Grid opsætning-----*/
.container-campaign{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "filter filter filter filter filter filter"
    "count count count count count count"
    "gooddeals gooddeals gooddeals gooddeals gooddeals gooddeals"
    "hybcar hybcar hybcar hybcar hybcar hybcar"
    "mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb"
    "best best best best best best"
    "xmas xmas xmas xmas xmas xmas"
    ;}
/*Grid opsætning - Slut*/


/*----Den øverste sektion med SUV, Hatchback og Stationcar----*/
.campaign-filter{
    grid-area: filter;
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.campaign-filter h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 40px;
    text-transform: uppercase;
}

/*Filter knapperne*/
.tab {
    overflow: hidden;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.tab img{
    width: 100%;
    height: auto;
}
  
.tab button {
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #dd1538;
}
  
.tab button.active {
    background-color: #404b96;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*Tekst til første tab*/
#SUV{
    margin-top: 5px;
}

#SUV h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#SUV p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}

/*Tekst til anden tab*/
#Hatchback{
    margin-top: 5px;
}

#Hatchback h3{
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#Hatchback p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}

/*Tekst til tredje tab*/
#Stationcar{
    margin-top: 5px;
}

#Stationcar h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: #404b96;
    text-align: center;
}

#Stationcar p{
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 15px;
}
/*SLUT - Filter*/

/*-----Antal kampagner-tekst-----*/
.count{
    grid-area: count;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.count h1{
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2px;
}
/*SLUT - Antal kampagner-tekst*/

/*Style til sektioners h3, h4 og p*/
.sektion-heading{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

/*SECTION - kampagnen om gode tilbud*/
.good-deals-camp{
    grid-area: gooddeals;
    margin: 0px 20px 40px 20px;
}

.good-deals-camp h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.good-deals-camp p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.good-deals-camp img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om Hybrid Stationcar Light*/
.hybrid-stationcar{
    grid-area: hybcar;
    margin: 0px 20px 40px 20px;
}

.hybrid-stationcar h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.hybrid-stationcar h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.hybrid-stationcar p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.hybrid-stationcar img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om Mild Hybrid SUV*/
.mild-hybrid{
    grid-area: mildhyb;
    margin: 0px 20px 40px 20px;
}

.mild-hybrid h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.mild-hybrid h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.mild-hybrid p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.mild-hybrid img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om bedste garanti*/
.best-guarantee{
    grid-area: best;
    margin: 0px 20px 40px 20px;
}

.best-guarantee h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.best-guarantee h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.best-guarantee p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.best-guarantee img{
    width: 100%;
    height: auto;
}

/*SECTION - kampagnen om jule bil*/
.christmas-car{
    grid-area: xmas;
    margin: 0px 20px 40px 20px;
}

.christmas-car h3{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #404b96;
}

.christmas-car h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.christmas-car p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.christmas-car img{
    width: 100%;
    height: auto;
}
/*__________________________SLUT MED KAMPAGNE CSS____________________________*/

/*__________________________Information om bilerne-siden_____________________*/






/* __________________________SLUT MED INFORMATION___________________________ */

/*__________________________Book en prøvetur-siden___________________________*/


/*__________________________Kontakt-siden____________________________________*/
.p{
    text-align: center;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/*__________________________Medie Queries min. 767px_____________________________*/
@media screen and (min-width:767px){
    /*____________________HEADER____________________*/
    header {
        background-image: url(./billeder/cover_tablet.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-x: 40%;
        min-height: 24rem;
    }

    /*Logo*/
    .wrapper .logo img {
        width: 25%;
        height: auto;
    }

    /*burger-menu's streger*/
    span{
        font-size:45px;
    }
    /*Slut*/

    /*Banner tekst*/
    .banner-text h1 {
        font-size: 10em;
        top: -8rem;
        }
    /*Banner tekst slut*/

    /*____________________HEADER SLUT____________________*/

    /*____________________FOOTER_________________________*/
        footer h1{
            font-size: 25px;
        }

        footer p{
            font-size: 18px;
        }
    /*____________________FOOTER SLUT_________________________*/



    /*____________________KAMPAGNESIDE____________________*/
    /*-----Grid opsætning-----*/
    .container-campaign{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "filter filter filter filter filter filter filter filter filter filter filter filter"
        "count count count count count count count count count count count count"
        "gooddeals gooddeals gooddeals gooddeals gooddeals gooddeals hybcar hybcar hybcar hybcar hybcar hybcar"
        "mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb mildhyb"
        "best best best best best best xmas xmas xmas xmas xmas xmas"
        ;}
    /*Grid opsætning - Slut*/

    /*Sektion med filter for modellerne*/
    .campaign-filter h1{
        font-size: 40px;
    }

    .campaign-filter .tab{
        justify-content: space-evenly;
    }

    /*billederne i filter sektionen*/
    .campaign-filter .SUV{
        width: 150%;
        height: auto;
    }

    .campaign-filter .HB{
        width: 150%;
        height: auto;
    }

    .campaign-filter .SC{
        width: 150%;
        height: auto;
    }

    /*Sektion med antal kampagner*/
    .count h1{
        font-size: 33px;
        margin: 10px 0 10px 0;
    }

    /*Sectionerne overskrift*/
    .good-deals-camp h3{
        font-size: 23px;
    }

    .hybrid-stationcar h3{
        font-size: 23px;
    }

    .mild-hybrid h3{
        font-size: 30px;
    }

    .best-guarantee h3{
        font-size: 23px;
    }

    .christmas-car h3{
        font-size: 23px;
    }

    /*sektionernes h4*/
    .hybrid-stationcar h4{
        font-size: 22px;
    }

    .mild-hybrid h4{
        font-size: 28px;
    }

    .best-guarantee h4{
        font-size: 22px;
    }

    .christmas-car h4{
        font-size: 22px;
    }

    /*sektionernes tekst*/
    .good-deals-camp p{
        font-size: 18px;
        margin-bottom: 92px;
    }

    .hybrid-stationcar p{
        font-size: 18px;
    }

    .mild-hybrid p{
        font-size: 22px;
    }

    .best-guarantee p{
        font-size: 18px;
    }

    .christmas-car p{
        font-size: 18px;
        margin-bottom: 100px;
    }

    /*knapper*/
    .good-deals-camp .button{
        height: 0;
    }

    .christmas-car .button{
        height: 0;
    }

    .btn{
        width: 150px;
        font-size: 16px;
        padding: 20px 5px;
    }
    /*____________________KAMPAGNESIDE SLUT____________________*/
}

/*__________________________Medie Queries min. 1024px_____________________________*/
@media screen and (min-width:1024px){
    /*____________________HEADER____________________*/
    header {
        background-image: url(./billeder/cover_desktop.jpg);
        min-height: 24rem;
    }

    /*burger-menu's streger*/
    span{
        font-size:45px;
    }
    /*Slut*/

    /*Banner tekst*/
    .banner-text h1 {
        font-size: 15em;
        top: -7rem;
        }
    /*Banner tekst slut*/
    /*____________________HEADER SLUT____________________*/

    /*____________________FOOTER_________________________*/
    footer h1{
        font-size: 31px;
    }

    footer p{
        font-size: 23px;
    }
    /*____________________FOOTER SLUT_________________________*/



    /*____________________KAMPAGNESIDE____________________*/
    /*Sektion med filter for modellerne*/
    .campaign-filter h1{
        font-size: 50px;
    }

    .campaign-filter .tab{
        justify-content: space-evenly;
    }

    /*billederne i filter sektionen*/
    .campaign-filter .SUV{
        width: 180%;
        height: auto;
    }

    .campaign-filter .HB{
        width: 180%;
        height: auto;
    }

    .campaign-filter .SC{
        width: 180%;
        height: auto;
    }

    /*Sektion med antal kampagner*/
    .count h1{
        font-size: 40px;
    }

    /*Sectionerne overskrift*/
    .good-deals-camp h3{
        font-size: 28px;
    }

    .hybrid-stationcar h3{
        font-size: 28px;
    }

    .mild-hybrid h3{
        font-size: 35px;
    }

    .best-guarantee h3{
        font-size: 28px;
    }

    .christmas-car h3{
        font-size: 28px;
    }

    /*sektionernes h4*/
    .hybrid-stationcar h4{
        font-size: 25px;
    }

    .mild-hybrid h4{
        font-size: 31px;
    }

    .best-guarantee h4{
        font-size: 25px;
    }

    .christmas-car h4{
        font-size: 25px;
    }

    /*sektionernes tekst*/
    .good-deals-camp p{
        font-size: 22px;
    }

    .hybrid-stationcar p{
        font-size: 22px;
    }

    .mild-hybrid p{
        font-size: 26px;
    }

    .best-guarantee p{
        font-size: 22px;
    }

    .christmas-car p{
        font-size: 22px;
    }

    /*knapper*/
    .btn{
        width: 170px;
        font-size: 19px;
        padding: 20px 5px;
    }

    /*____________________KAMPAGNESIDE SLUT____________________*/
}